<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block title %}
    <title>{{ SYSTEM_TITLE_PREFIX }} | Index</title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/components/navgation.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    {% if not debug %}
    {% for query in sql_queries %}
    <div date-time="{{ query.time }}">{{ query.sql }}</div>
    {% endfor %}
    {% endif %}
    {% include 'components/navigation.html' %}
    {% block main %}
    {% endblock %}
</body>
</html>
