section {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

section>h2 {
    margin: 30px 0;
}

section>h2::before {
    content: "#";
}

.doc-list {
    width: 100%;
    transition: all .3s ease-in-out;
    padding: 0;
}

.doc-list:first-of-type>a {
    border-top: 1px solid var(--color-text);
}

.doc-list>a:hover {
    background: var(--color-light-background);
}

.doc-list>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: relative;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid var(--color-text);
    color: var(--color-text);
    fill: var(--color-text);
}

span.title {
    width: calc(100% - 100px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

@media screen and (min-width: 1366px) {
    section {
        width: 50%;
    }
    /* .doc-list {
        padding-right: 20px;
    } */
    span.date {
        margin-right: 20px;
    }
}
