section {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

@media screen and (min-width: 1366px) {
    section {
        width: 50%;
    }
}

section>h2::before {
    content: "#";
    margin-right: 5px;
}

section>div>a {
    border-bottom: 1px dashed var(--color-light-text);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: var(--color-text);
    position: relative;
}
section>div>a:hover {
    color: var(--color-theme-text);
    border-bottom: 1px solid var(--color-theme-text);
}
section>div>a>span:first-of-type {
    width: calc(100% - 100px);
    overflow: hidden;
}
section>div>a>span:last-of-type {
    width: 100px;
    padding-left: 10px;
    text-align: right;
}
