

header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

main {
    margin: 20px 0 20px 0;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
}

li {
    margin: 10px;
}

.doc>li>a {
    color: var(--color-text);
    text-decoration: none;
}
.doc>li>a:hover {
    text-decoration: revert;
}
