section {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

section>h2 {
    color: var(--color-text);
    margin: 30px 0;
}

section>h2::before {
    content: "#";
}

.doc-list {
    width: 100%;
    transition: all .3s ease-in-out;
    padding: 0;
    border-bottom: 1px dashed var(--color-theme-m);
}

.doc-list:first-of-type {
    border-top: 1px dashed var(--color-theme-m);
}

.doc-list:hover {
    border-bottom-style: solid;
    background: var(--color-light-background);
}

.doc-list>a {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    color: var(--color-text);
    position: relative;
}

span.title {
    width: calc(100% - 100px);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon {
    width: 24px;
    height: 24px;
    margin: 0 10px;
    fill: var(--color-theme-m);
}

.doc-list>a>span:last-of-type {
    color: var(--color-light-text);
}

@media screen and (min-width: 1366px) {
    section {
        width: 50%;
    }
    .doc-list {
        padding-right: 20px;
    }
}
