article {
    width: 100%;
}

@media screen and (min-width: 1366px) {
    article {
        width: 50%;
    }
}

main {
    padding: 10px;
    word-wrap: break-word;
}

article>h1:not(:first-of-type){
    display: none;
}

article a {
    text-decoration: revert;
    padding: 0 5px;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}

code {
    background: var(--color-light-background);
    padding: 0 3px;
    border-radius: 3px;
}

.info {
    justify-content: space-between;
    color: var(--color-light-text);
}

.tags {
    font-size: 0;
}

.tags>a {
    font-size: 14px;
    padding: 0 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color-text);
}

.tags>a::before {
    content: "#";
}

.tags>a:hover {
    color: var(--color-theme-text);
    text-decoration: revert;
}
