article {
    width: 100%;
}

@media screen and (min-width: 1366px) {
    article {
        width: 50%;
    }
}

main {
    padding: 10px;
    word-wrap: break-word;
}

article>h1 {
    margin: 35px 0;
}

article>h1:not(:first-of-type) {
    display: none;
}

article a {
    text-decoration: revert;
    padding: 0 5px;
    color: var(--color-link);
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}

pre {
    font-family: var(--font-code);
    background: var(--code-background);
    color: var(--color-text);
    font-size: 14px;
    padding: 20px;
    overflow-x: auto;
}

code {
    background: var(--code-background);
    color: var(--color-text);
}

.info {
    justify-content: space-between;
    color: var(--color-light-text);
}

.tags {
    font-size: 0;
}

.tags>a {
    font-size: 14px;
    padding: 0 5px;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color-theme);
}

.tags>a::before {
    content: "#";
}

.tags>a:hover {
    text-decoration: revert;
    color: var(--color-theme-m);
}
