main {
    padding: 10px;
    word-wrap: break-word;
}

article {
    max-width: 100%;
}

article>h1:first-of-type+h4+h1 {
    display: none;
}

pre {
    font-size: 14px;
}

li {
    margin-top: 1em;
    margin-bottom: 1em;
}

article a {
    text-decoration: revert;
    padding: 0 5px;
}

.info {
    justify-content: space-between;
    color: var(--color-light-text);
}

.tags {
    font-size: 0;
}

.tags>a {
    font-size: 14px;
    padding: 0 5px;
    box-sizing: border-box;
    background: var(--color-doc-tags-background);
    color: var(--color-doc-tags);
    text-decoration: none;
}

.tags>a:not(:last-of-type) {
    margin-right: 10px;
}

.tags>a:hover {
    color: var(--color-doc-tags-hover);
}
