::-webkit-details-marker {
    display: none;
}

section {
    min-width: 500px;
}

details {
    width: 100%;
    transition: all .4s ease-in-out;
}

summary {
    outline: none;
    margin: 20px;
    color: var(--color-heading);
    font-size: 1.5em;
}

summary::marker {
    font-size: 0;
}

dl {
    margin-left: 50px;
}

dt {
    margin: 15px;
}

.subtitle-time {
    font-size: 0.9em;
    color: var(--color-light-text);
}

.doc>li {
    margin: 10px;
}
.doc>li>a {
    color: var(--color-text);
    text-decoration: none;
}
.doc>li>a:hover {
    text-decoration: revert;
}
