footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    box-sizing: border-box;
}

footer>a {
    opacity: 0.5;
    text-decoration: revert;
    padding: 0 5px;
    color: var(--color-theme-m);
}

footer>a:hover {
    opacity: 0.9;
}
