.pagination {
    margin-bottom: 10px;
}

.pagination>a {
    padding: 10px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

.pagination>a:hover {
    text-decoration: revert;
    background: var(--color-light-background);
}
