:root {
    --font-english: "Roboto", "Helvetica Neue", "Helvetica";
    --font-cjk: "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --font-text: var(--font-english), var(--font-cjk), sans-serif;
    --font-code: "Roboto Mono", Menlo, monospace;
    --color-theme: #24292E;
    --background-color: #EAEBEC;
    --background-color-header: var(--color-theme);
    --background-color-main: #FAFBFC;
    --color-light-background: #EAEBEC;
    --color-text-light: #040405;
    --color-text: var(--color-theme);
    --color-header-text: var(--background-color);
    --color-header-hover-text: var(--color-text-light);
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-theme: slategrey;
        --background-color: #21252B;
        --background-color-header: #0D1117;
        --background-color-main: #21252B;
        --color-light-background: #0D1117;
        --color-text-light: #040405;
        --color-text: slategrey;
        --color-header-text: slategrey;
        --color-header-hover-text: var(--color-text-light);
    }
    img {
        opacity: .75;
    }
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none;
    margin: 0;
    padding: 0;
    user-select: none;
}

html, body {
    height: 100%;
    background: var(--background-color);
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

article {
    color: var(--color-text);
}

.flex-row-center, .flex-row-center-center, .flex-column-center, .flex-column-center-center {
    display: flex;
    align-items: center;
}

.flex-column-center, .flex-column-center-center {
    flex-direction: column;
}

.flex-row-center-center, .flex-column-center-center {
    justify-content: center;
}

header {
    background-color: var(--background-color-header);
    box-shadow: 0 0 1px 0 var(--color-theme);
    z-index: 1;
}

main {
    background-color: var(--background-color-main);
    color: var(--color-text);
}

.relative {
    position: relative;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.theme {
    color: var(--color-theme);
}

.language {
    position: absolute;
    bottom: 10px;
    left: 10px;
    opacity: 0.5;
}

.language:hover {
    opacity: 1;
}
