:root {
    --font-english: "Roboto", "Helvetica Neue", "Helvetica";
    --font-cjk: "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --font-text: var(--font-english), var(--font-cjk), sans-serif;
    --font-code: "Roboto Mono", Menlo, monospace;
    --color-theme: teal;
    --background-color: #FAFBFC;
    --background-color-header: #FAFBFC;
    --background-color-main: #FAFBFC;
    --code-background: #21252B;
    --color-light-background: #CCE6E6;
    --color-text-light: #040405;
    --color-text: slategrey;
    --color-header-text: #CCE6E6;
    --background-color-selection: #CCE6E6;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-theme: teal;
        --background-color: #0D1117;
        --background-color-header: #161B22;
        --background-color-main: #0D1117;
        --code-background: #21252B;
        --color-light-background: #21252B;
        --color-text-light: lightslategrey;
        --color-text: slategrey;
        --color-header-text: #21252B;
        --background-color-selection: #142E31;
    }
    img {
        opacity: .75;
    }
}

::selection {
    background: var(--background-color-selection);
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: var(--background-color);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background: var(--background-color);
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

article {
    color: var(--color-text);
}

.flex-row-center, .flex-row-center-center, .flex-column-center, .flex-column-center-center {
    display: flex;
    align-items: center;
}

.flex-column-center, .flex-column-center-center {
    flex-direction: column;
}

.flex-row-center-center, .flex-column-center-center {
    justify-content: center;
}

.user-select-none {
    user-select: none;
}

.theme {
    color: var(--color-theme);
}

header {
    background-color: var(--background-color-header);
}

main {
    background-color: var(--background-color-main);
    color: var(--color-text);
}
