:root {
    --color-selection: #C9F0DD;
    --color-blue: #03A9F4;
    --color-blue-alpha: rgba(3, 172, 244, 0.08);
    --color-green: #49C784;
    --color-yellow: #F7BA2A;
    --color-purple: #b37feb;
    --color-cyan: #36cfc9;
    --color-magenta: #f759ab;
    --color-red: #FF612F;
    --color-primary: #E8371A;
    --color-text: rgba(0, 0, 0, 0.68);
    --color-heading: rgba(0, 0, 0, 0.98);
    --color-code: #F55826;
    --color-autodoc-background: rgba(245,88,38,.05);
    --color-autodoc-border: rgba(245,88,38,.4);
    --font-english: "Roboto","Helvetica Neue","Helvetica";
    --font-cjk: "Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei";
    --font-text: var(--font-english),var(--font-cjk),sans-serif;
    --font-code: "Roboto Mono",Menlo,monospace;
    --code-background: rgba(0, 0, 0, .02);
    --code-alt-background: rgba(0, 0, 0, .03);
}

::selection {
    background: var(--color-selection);
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

* {
    scrollbar-width:none; /* Firefox */
    -ms-overflow-style:none; /* IE10+ */
}

html {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/static/img/wallpaper.png');
    background-position: top;
    filter: alpha(opacity=20);
    -moz-opacity: 0.2;
    opacity: 0.2;
    pointer-events: none;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

pre {
    font-family: var(--font-code);
    color: var(--color-text);
    padding: 20px;
    overflow-x: auto;
}

h1 {
    text-align: center;
}

.flex-center,
.flex-center-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-center-center {
    justify-content: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    box-sizing: border-box;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: revert;
}

h1>a:hover {
    text-decoration: none;
}

footer>a {
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

footer>a:hover {
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    opacity: 0.9;
}
