header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header>ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}
header>ul,
header>ul>li {
    list-style:none;
    margin: 10px;
}
header>ul>li a {
    color: var(--color-text);
    text-decoration: none;
}
header>ul>li a:hover {
    text-decoration: revert;
}
