header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 5px 1px lightgray;
}
header>h1 {
    margin-left: 20px;
    margin-right: 20px;
}
header>ul {
    display: flex;
    flex-direction: row;
    padding: 0;
}
header>ul,
header>ul>li {
    list-style:none;
    margin: 10px;
}
