{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ SYSTEM_TITLE_PREFIX }} | Category</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/wiznote/components/doc-list.css' %}">
{% endblock %}

{% block main %}
<main class="flex-column-center">
    {% block content %}
    <section>
        {% for doc in docs %}
        <div>
            <a href="{% url 'wiznote:doc' guid=doc.guid %}">
                <span>{{ doc.version.title|slice:":-3" }}</span>
                <span>{{ doc.created|date:'Y/m/d' }}</span>
            </a>
        </div>
        {% endfor %}
    </section>
    {% endblock %}
</main>
{% endblock %}
