{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>{{ SYSTEM_TITLE_PREFIX }} | Tags</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/wiznote/components/doc-list.css' %}">
{% endblock %}

{% block main %}
<main class="flex-column-center user-select-none">
    {% block content %}
    <section>
        {% for tag in tags %}
        {% include 'wiznote/components/doc-list.html' %}
        {% endfor %}
    </section>
    {% endblock %}
</main>
{% endblock %}
