:root {
    --color-selection: rgb(201, 240, 221);
    --color-blue: #03A9F4;
    --color-blue-alpha: rgba(3, 172, 244, 0.08);
    --color-green: #49C784;
    --color-yellow: #F7BA2A;
    --color-purple: #b37feb;
    --color-cyan: #36cfc9;
    --color-magenta: #f759ab;
    --color-red: #FF612F;
    --color-primary: #E8371A;
    --color-light-text: rgba(0, 0, 0, 0.38);
    --color-text: rgba(0, 0, 0, 0.68);
    --color-heading: rgba(0, 0, 0, 0.98);
    --color-code: #F55826;
    --color-autodoc-background: rgba(245,88,38,.05);
    --color-autodoc-border: rgba(245,88,38,.4);
    --font-english: "Roboto","Helvetica Neue","Helvetica";
    --font-cjk: "Hiragino Sans GB","Droid Sans Fallback","Microsoft YaHei";
    --font-text: var(--font-english),var(--font-cjk),sans-serif;
    --font-code: "Roboto Mono",Menlo,monospace;
    --color-light-background: rgba(0, 0, 0, 0.06);
    --background: rgb(255 ,255 ,255, 0.8);
    --code-background: rgba(234, 250, 234, 0.6);
    --code-alt-background: rgba(0, 0, 0, .03);
    --color-doc-tags: rgba(160, 150, 147, 0.8);
    --color-doc-tags-background: rgba(255, 231, 147, 0.6);
    --color-doc-tags-hover: rgba(0, 50, 100, 0.8);
}

::selection {
    background: var(--color-selection);
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

* {
    scrollbar-width:none; /* Firefox */
    -ms-overflow-style:none; /* IE10+ */
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-selection: rgba(201, 240, 221, 0.6);
        --color-light-background: rgba(0, 0, 0, 0.06);
        --background: rgba(0, 0, 0, 0);
        --code-background: rgba(0, 0, 0, .9);
        --code-alt-background: rgba(0, 0, 0, .03);
    }
    img {
        opacity: .75;
    }
}

html {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: var(--background);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('/static/img/wallpaper.png');
    background-position: top;
    opacity: 0.15;
    pointer-events: none;
    z-index: -1;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

pre {
    font-family: var(--font-code);
    background: var(--code-background);
    color: var(--color-text);
    padding: 20px;
    overflow-x: auto;
}

h1 {
    text-align: center;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    padding: 10px;
    box-sizing: border-box;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

a:hover {
    text-decoration: revert;
}

h1>a:hover {
    text-decoration: none;
}

footer>a {
    opacity: 0.5;
}

footer>a:hover {
    opacity: 0.9;
}

.flex-row-center,
.flex-row-center-center,
.flex-column-center,
.flex-column-center-center {
    display: flex;
    align-items: center;
}

.flex-column-center,
.flex-column-center-center {
    flex-direction: column;
}

.flex-row-center-center,
.flex-column-center-center {
    justify-content: center;
}

.user-select-none {
    user-select: none;
}
