:root {
    --color-blue: #03A9F4;
    --color-blue-alpha: rgba(3, 172, 244, 0.08);
    --color-green: #49C784;
    --color-yellow: #F7BA2A;
    --color-purple: #b37feb;
    --color-cyan: #36cfc9;
    --color-magenta: #f759ab;
    --color-red: #FF612F;
    --color-primary: #E8371A;
    --color-light-text: rgba(0, 0, 0, 0.38);
    --color-text: #000;
    --color-heading: rgba(0, 0, 0, 0.98);
    --color-code: #F55826;
    --color-autodoc-background: rgba(245, 88, 38, .05);
    --color-autodoc-border: rgba(245, 88, 38, .4);
    --font-english: "Roboto", "Helvetica Neue", "Helvetica";
    --font-cjk: "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
    --font-text: var(--font-english), var(--font-cjk), sans-serif;
    --font-code: "Roboto Mono", Menlo, monospace;
    --color-header-h1-background: teal;
    --color-header-h1-text: rgb(255, 255, 255, 0.8);
    --color-header-nav-text: teal;
    --color-theme-m: teal;
    --color-link: #448AFF;
    --background: rgb(255, 255, 255, 0.8);
    --color-theme: #92b3b1;
    --code-background: #F6F8FA;
    --color-light-background: rgb(50, 162, 156, 0.1);
    --color-selection-background: rgb(50, 162, 156, 0.2);
}

::selection {
    background: var(--color-selection-background);
}

::-webkit-scrollbar {
    display: none;
}

* {
    scrollbar-width: none;
    -ms-overflow-style: none;
    outline: none;
    margin: 0;
    padding: 0;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #21252B;
        --color-theme: #1DA57A;
        --code-background: #21252B;
        --color-light-background: #21252B;
    }
    img {
        opacity: .75;
    }
}

html {
    height: 100%;
    background: var(--background);
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

main {
    flex-grow: 1;
    overflow-y: auto;
}

h1 {
    text-align: center;
}

article {
    color: var(--color-text);
}

.flex-row-center, .flex-row-center-center, .flex-column-center, .flex-column-center-center {
    display: flex;
    align-items: center;
}

.flex-column-center, .flex-column-center-center {
    flex-direction: column;
}

.flex-row-center-center, .flex-column-center-center {
    justify-content: center;
}

.user-select-none {
    user-select: none;
}

.theme-m {
    color: var(--color-theme-m);
}
