footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    box-sizing: border-box;
}

footer>div {
    display: inline-block;
}

.language>form>input[type="button"] {
    border: none;
    padding: 10px;
    color: var(--color-text);
    background-color: transparent;
}

.language>form>input[type="button"]:hover {
    background: var(--color-light-background);
    cursor: pointer;
}
