header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header>h1 {
    width: 60px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header>h1>a {
    color: var(--color-header-text);
}

header>nav {
    display: flex;
    flex-direction: row;
    padding: 0;
}

header>h1>a, .nav-link {
    text-decoration: none;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}

.nav-link {
    color: var(--color-header-text);
    position: relative;
    padding: 0 10px;
    height: 100%;
}

.nav-link.active, .nav-link:hover {
    background: var(--color-header-hover-text);
}

.nav-link::after {
    content: "";
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 50%;
    right: 50%;
    background: var(--color-theme);
    transition: all 0.3s ease-in-out;
}

.nav-link.active::after, .nav-link:hover::after {
    left: 0;
    right: 0;
}
