.pagination {
    margin: 10px 0;
    user-select: none;
}

.pagination a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 24px;
    height: 24px;
    border-radius: 2px;
    background-color: var(--background-color-header);
    transition: all .3s ease-in-out;
    fill: #8F9EA8;
    color: #8F9EA8;
}

.pagination a[href] {
    fill: var(--color-theme);
    color: var(--color-theme);
}

.pagination a:not(:first-of-type) {
    margin-left: 4px;
}

.pagination a:hover {
    background: var(--color-light-background);
}
