.pagination {
    margin: 20px 0;
    align-self: flex-end;
}

.pagination a {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    transition: all .3s ease-in-out;
    background-color: var(--background-color-header);
    color: var(--color-header-text);
}

.pagination a.link {
    fill: var(--color-header-text);
    color: var(--color-header-text);
}

.pagination a:not(:first-of-type) {
    margin-left: 4px;
}

.pagination a.disabled {
    background: transparent;
}

.pagination a.current, .pagination a.link:hover {
    color: var(--color-header-hover-text);
    background: var(--color-header-text);
}
