{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
<title>{{ SYSTEM_TITLE_PREFIX }} | {% translate "Tags" %}</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/wiznote/tags.css' %}">
{% endblock %}

{% block main %}
<main class="flex-column-center-center">
    {% block content %}
    <section>
        {% for tag in tags %}
        <a class="tag-link theme" href="{% url 'wiznote:tag' tag.guid %}">{{ tag.name }}</a>
        {% endfor %}
    </section>
    {% endblock %}
</main>
{% endblock %}
