<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/category.css' %}">
    {% block css %}
    {% endblock %}
</head>
<body>
    <header>Hello Wiz.</header>
    <main class="flex-center">
        {% block main %}
        <ul class="category">
            {% for category in categories %}
            <li><h2>{{ category.name }}</h2></li>
            <ul class="doc">
                {% for doc in docs %}
                    {% ifequal category.id doc.Category_id %}
                <li><a href="{% url 'article:article' docGuid=doc.guid %}">{{ doc.title }}</a></li>
                    {% endifequal %}
                {% endfor %}
            </ul>
            {% endfor %}
        </ul>
        {% endblock %}
    </main>
</body>
</html>
